<p>This is a demo guestbook written by Billy Rhoades in Python with Django.</p>

<p>I am a student of Missouri S&T currently working at Monsanto. Some of my hobbies
include programming, gaming, cooking, reading, and car work. My favorite color is yellow and my favorite
animal is a duck.</p>

<p>This page was put together as part of a technical challenge for Lumate. I have never touched Django,
but knew the concept after working with Ruby on Rails.</p> 

{% if not has_signed or sign_again %}
<h3>Sign This Guestbook</h3>

<form action="{% url 'sign' %}" method="post">
  {% csrf_token %}
  First Name: <input type="text" name="name" /><br /> 
  Last Name:  <input type="text" name="surname" /><br /><br />

  <input type="submit" value="sign" />
</form>
{% endif %}
{% if has_signed or sign_again %}
<a href="{% url 'signatures' %}"><h3>View Signatures</h3></a>
{% endif %}
